@using BitSpy.Ui.Response
@using System.Net.Http.Headers
@inject HttpClient HttpClient

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Event</h5>
                <button type="button" class="btn-close" @onclick="Close"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="Event" OnValidSubmit="UpdateEvent">
                    <InputText id="name" @bind-Value="@Event.Name" />
                    <!-- Add other fields as necessary -->
                    <button type="submit">Update</button>
                </EditForm>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="Close">Close</button>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public EventResponse Event { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    private void Close()
    {
        OnClose.InvokeAsync();
    }

    private async Task UpdateEvent()
    {
        await HttpClient.PutAsJsonAsync($"{ApiConstants.ApiUrl}/events/{Event.Name}", Event);
        Close();
    }
}